<!DOCTYPE html>

<%- include('partials/header.ejs') %>

    <br>
    <h1 class="text-center">Available Categories</h1>
    <% if(categories.length===0){%>
        <p>No categories available </p>
        <% } else { %>
            <ul class="list-group text-center mb-3">
                <% categories.forEach((category)=>{ %>
                    <li class="list-group-item">
                        <a class="fs-5 link-dark link-underline-opacity-0  link-underline-opacity-100-hover fw-semibold"
                            href=<%="/categories/" +category.id %>><%= category.title %></a>
                    </li>
                    <% }); %>
            </ul>
            <% } %>

                <div class="text-center">
                    <button class="btn btn-dark" onclick="location.href='/categories/addcategory'" type="button">Add
                        Category</button>

                </div>
                </body>

                </html>