<!DOCTYPE html>


<%- include('partials/header.ejs') %>

    <body>

        <br>
        <h1 class="text-center">All Available Items</h1>
        <% if(items.length===0){%>
            <p>No items available </p>
            <% } else { %>
                <ul class="list-group text-center mb-3">

                    <% items.forEach((item)=>{ %>
                        <li class="list-group-item">
                            <a class="fs-5 link-dark link-underline-opacity-0  link-underline-opacity-100-hover fw-semibold"
                                href=<%="/items/" +item.id %>><%= item.title %></a>
                        </li>
                        <% }); %>

                </ul>
                <% } %>

                    <div class="text-center">
                        <button class="btn btn-dark" onclick="location.href='/items/additem'" type="button">Add
                            Item</button>
                    </div>



    </body>

    </html>